/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    background-image: url("uploads/INEC.png");
}

.container {
    width: 700px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    /* flex: 50%; */
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.vote-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vote-button button {
    background-color: #007bff;
}

.vote-button button:hover {
    background-color: #0056b3;
}

.message {
    text-align: center;
    color: green;
}

#extra {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #a72859;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #fff;
    margin-left: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

img {
    border-radius: 5px;
}

.candidate {
    display: flex;
    flex: 50%;
    justify-content: space-between; /* Space between name and button */
    align-items: center;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.candidate img {
    margin-right: 20px;
    border-radius: 5px;
    width: 100px; /* Ensure consistent image size */
    height: 100px;
}

h1 {
    display: block; /* Make h1 behave like a block element */
    width: 20%; 
    text-align: center; 
    margin: 20px 0; /* Add some spacing */
}